<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>All Patients</title>
</head>
<body>
  <h1>All Patients</h1>
  {% for p in patients %}
    <li>{{ p.name }} - {{ p.age }} 
        {{ p.height }} {{ p.weight }} 
        {{ p.incidentTime }} {{ p.admittanceTime }} 
        {{ p.concern }}</li>

        <form action="/delete/{{ p._id }}" method="POST" style="display:inline;">
          <button type="submit">Delete</button>

        </form>

        <form action="/edit/{{ p._id }}" method="GET" style="display:inline;">
          <button type="submit">Edit</button>
        </form>
  {% endfor %}

  <form action="/vellum" method="POST">
    <button type="generate">Generate Vellum Insights</button>
  </form>
</body>
</html>